@import '../assets/helpers/index.scss';

html {
  font-size: 24px;
  font-family: 'RobotoMedium', sans-serif;
  padding-bottom: 50px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-width: 100vw;
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

button,
input,
select {
  font-family: inherit;
}

// main container
.container {
  padding: 0 $horizontalPadding;
}